.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../assets/images/bannerbg.jpg) 50% 100%/cover no-repeat;

}
.banner__logo {
  margin-bottom: 2.5rem;
}
.banner__flex {
  display: flex;
  flex-wrap: wrap;
  padding: 100px 0px 90px;
  margin: -0.5rem;
}

.banner__info-block {
  flex-basis: calc(100% / 12 * 7 - 1rem);
  margin: 0.5rem;
}
.banner__article {
  color: #ffffff;
  text-align: left;
}
.banner__article-separator {
  background-color: #ffffff;
}
.banner__article-subtittle {
  color: #ffffff;
  padding-bottom: 20px;
}
.banner__content-button {
  background: none;
  border: 2px solid #ffffff;
}
.banner__form-button {
  padding: 1.56em 0px;
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
}
.banner__input-area {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 20px 40px 80px 40px;
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
}
.banner__form {
  flex-basis: calc(100% / 12 * 5 - 1rem);
  display: flex;
  flex-direction: column;
}
.banner__form-tittle {
  text-align: center;
  padding-bottom: 20px;
}
.banner__form-strong {
  color: var(--main-orange);
}
.banner__form-fields {
  color: #bdbdbd;
  border: none;
  padding: 40px 0px 15px;
  border-bottom: 1px solid;
}
.banner__form-fields:invalid{
  color: red;
}
.banner__form-fields:focus {
  outline: none;
  color: black;
  font-weight: 700;
}
.banner__form-button {
  padding: 1.56em 0px;
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
}

@media (max-width: 767px){
  .banner__flex{
    flex-direction: column;
  }
  .banner__info-block{
    flex-basis: calc(100% - 1rem);
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
  }
  .banner__form{
    flex-basis: calc(100% - 1rem);
  }
  .banner__article{
    text-align: center;
  }
  .banner__logo {
    display: none;
  }
  .banner__article-subtittle{
    padding-bottom: 0px;
  }
}
