html {
  scroll-behavior: smooth;
}

body {
  font-size: 1.125rem;
}

@media (max-width: 1024px){
  body {
    font-size: 0.875rem;
  }
}

h5 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

h4,dt {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 2.25rem;
  font-weight: 400;
}

input, textarea {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
}

p,dd {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

li {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.section-header {
  text-align: center;
}

.section-header__tittle {
  margin-bottom: 1.38em;
}
.section-header__tittle--white {
  color: #ffffff;
}


.section-header__separator {
  display: inline-block;
  width: 170px;
  border: none;
  height: 1px;
  background-color: var(--main-orange);
}
.section-header__separator--white {
  background-color: #ffffff;
}

.section-header__subtittle {
  margin-bottom: 6.66em;
  color: #86878b;
}
.section-header__subtittle--white {
  margin-bottom: 40px;
  color: #ffffff;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -0.5rem;
}

.card {
  flex-basis: calc(100% / 12 * 4 - 1rem);
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0.5rem;
}

.content-button {
  border: none;
  padding: 0.83em 4.72em;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background-color: var(--main-orange);
  cursor: pointer;
}

.social-media-links__link:hover {
  filter: invert(100%);
}
.social-media-links{
  flex-basis: calc(100% / 12 *7 );
  display: flex;
  justify-content: space-between;
}

.axit-main {
  margin-top: 50px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.axit-main {
  flex: 1;
}


@media (max-width:1024px){
  .social-media-links__link{
    transform: scale(0.8);
  }
}
@media (max-width:767px){
  .card{
    flex-basis: calc(100% - 1rem);
  }
  .social-media-links__link{
    transform: scale(0.5);
  }
  .content-button{
    font-size: 1.125rem;
  }
  h2{
    font-size: 1.5rem;
  }
  h4{
    font-size: 0.875rem;
  }
}