@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import "reset.css";
@import "normalized.css";
@import "config.css";
@import "var.css";
@import "container.css";
@import "main-header.css";
@import "social-media.css";
@import "tabs.css";
@import "awesome.css";
@import "prices.css";
@import "customers.css";
@import "main-footer.css";

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.axit-main {
  flex: 1;
}
