.main-footer {
    background-color: #000000;
}

.main-footer__container {
    padding: 40px 15px 20px;
}
.main-footer__flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-footer-text {
    color: #ffffff79;
    padding-top: 20px;
}